<app-header title="Detalle"></app-header>
<ion-content>
  <div class="ion-text-center ion-margin-bottom ion-margin-top">
    <h3 class="ion-text-center">
      Detalle de la evaluación de prácticas fundamentales
    </h3>
  </div>

  <ion-grid>
    <ion-row no-padding class="header-row">
      <ion-col col class="align" col-1 size="1">
        <strong>Id</strong>
      </ion-col>
      <ion-col col class="align" col-2 size="5">
        <strong>Nombre</strong>
      </ion-col>
      <ion-col col col-3 class="align" size="2">
        <strong>%PFI</strong>
      </ion-col>
      <ion-col col col-4 class="align" size="2">
        <strong>%PFIP</strong>
      </ion-col>
      <ion-col col col-5 class="align" size="2">
        <strong>Detalle</strong>
      </ion-col>
    </ion-row>

    <ion-row no-padding *ngFor="let p of resPracticasFund">
      <ion-col col col-1 class="align" size="1"> {{p.codigoPractica}} </ion-col>
      <ion-col col col-2 size="5"> {{p.nombrePractica}} </ion-col>
      <ion-col col col-3 class="align" size="2">
        {{p.puntuacionIndividual}}%
      </ion-col>
      <ion-col col col-4 class="align" size="2">
        {{p.puntuacionPonderada}}%
      </ion-col>
      <ion-col col col-5 class="align" size="2">
        <ion-button size="small" color="primary" (click)="verDetallePreguntas(p.idPractica)">
          <ion-icon name="eye" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row no-padding>
      <ion-col col col-1 class="align" size="8">
        <strong>%PFT</strong>
      </ion-col>
      <ion-col col col-2 class="align" size="4">
        <strong>{{pft}}%</strong>
      </ion-col>
      
    </ion-row>
  </ion-grid>

  <ion-grid class="no-border">
    <ion-row>
      <ion-col>
        <div> <canvas #chartFundamental></canvas></div>
      </ion-col>
      <ion-col>
        <div><canvas #chartFundamentalPond></canvas></div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="ion-text-center ion-margin-bottom ion-margin-top">
    <h3 class="ion-text-center">
      Detalle de la evaluación de prácticas complementarias
    </h3>
  </div>

  <ion-grid>
    <ion-row no-padding class="header-row">
      <ion-col col class="align" col-1 size="1">
        <strong>Id</strong>
      </ion-col>
      <ion-col col class="align" col-2 size="5">
        <strong>Nombre</strong>
      </ion-col>
      <ion-col col col-3 class="align" size="2">
        <strong>%PCI</strong>
      </ion-col>
      <ion-col col col-4 class="align" size="2">
        <strong>%PCIP</strong>
      </ion-col>
      <ion-col col col-5 class="align" size="2">
        <strong>Detalle</strong>
      </ion-col>
    </ion-row>

    <ion-row no-padding *ngFor="let p of resPracticasComp">
      <ion-col col col-1 class="align" size="1"> {{p.codigoPractica}} </ion-col>
      <ion-col col col-2 size="5"> {{p.nombrePractica}} </ion-col>
      <ion-col col col-3 class="align" size="2">
        {{p.puntuacionIndividual}}%
      </ion-col>
      <ion-col col col-4 class="align" size="2">
        {{p.puntuacionPonderada}}%
      </ion-col>
      <ion-col col col-5 class="align" size="2">
        <ion-button size="small" color="primary" (click)="verDetallePreguntas(p.idPractica)">
          <ion-icon name="eye" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row no-padding>
      <ion-col col col-1 class="align" size="8">
        <strong>%PCT</strong>
      </ion-col>
      <ion-col col col-2 class="align" size="4">
        <strong>{{pct}}%</strong>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="no-border">
    <ion-row>
      <ion-col>
        <div><canvas class="relative" #chartComplementario></canvas></div>
      </ion-col>
      <ion-col>
        <div><canvas class="relative" #chartComplementarioPond></canvas></div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="ion-text-center ion-margin-bottom ion-margin-top">
    <h3 class="ion-text-center">Detalle de evaluación de dimensiones</h3>
  </div>

  <ion-grid>
    <ion-row no-padding class="header-row">
      <ion-col col col-1 class="align" size="1">
        <strong>Id</strong>
      </ion-col>
      <ion-col col col-2 class="align" size="7">
        <strong>Nombre</strong>
      </ion-col>
      <ion-col col col-3 class="align" size="2">
        <strong>%PDI</strong>
      </ion-col>
      <ion-col col col-4 class="align" size="2">
        <strong>%PDIP</strong>
      </ion-col>
    </ion-row>

    <ion-row no-padding *ngFor="let d of resDimensiones">
      <ion-col col col-1 class="align" size="1"> {{d.codigoDimension}} </ion-col>
      <ion-col col col-2 size="7"> {{d.nombreDimension}} </ion-col>
      <ion-col col col-3 class="align" size="2">
        {{d.puntuacionIndividual}}%
      </ion-col>
      <ion-col col col-4 class="align" size="2">
        {{d.puntuacionPonderada}}%
      </ion-col>
    </ion-row>

    <ion-row no-padding>
      <ion-col col col-1 class="align" size="10">
        <strong>%PDT</strong>
      </ion-col>
      <ion-col col col-2 class="align" size="2">
        <strong>{{pdt}}%</strong>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="no-border">
    <ion-row>
      <ion-col>
        <div><canvas class="relative" #chartDimensiones></canvas></div>
      </ion-col>
      <ion-col>
        <div><canvas class="relative" #chartDimensionesPond></canvas></div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="ion-text-center ion-margin-bottom ion-margin-top">
    <h3 class="ion-text-center">Detalle de evaluación de valores</h3>
  </div>

  <ion-grid>
    <ion-row no-padding class="header-row">
      <ion-col col col-1 class="align" size="1">
        <strong>Id</strong>
      </ion-col>
      <ion-col col col-2 class="align" size="7">
        <strong>Nombre</strong>
      </ion-col>
      <ion-col col col-3 class="align" size="2">
        <strong>%PVI</strong>
      </ion-col>
      <ion-col col col-4 class="align" size="2">
        <strong>%PVIP</strong>
      </ion-col>
    </ion-row>

    <ion-row no-padding *ngFor="let v of resValores">
      <ion-col col col-1 class="align" size="1"> {{v.codigoValor}} </ion-col>
      <ion-col col col-2 size="7"> {{v.nombreValor}} </ion-col>
      <ion-col col col-3 class="align" size="2">
        {{v.puntuacionIndividual}}%
      </ion-col>
      <ion-col col col-4 class="align" size="2">
        {{v.puntuacionPonderada}}%
      </ion-col>
    </ion-row>

    <ion-row no-padding>
      <ion-col col col-1 class="align" size="10">
        <strong>%PVT</strong>
      </ion-col>
      <ion-col col col-2 class="align" size="2">
        <strong>{{pvt}}%</strong>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="no-border">
    <ion-row>
      <ion-col>
        <div> <canvas class="relative" #chartValores></canvas></div>
      </ion-col>
      <ion-col>
        <div><canvas class="relative" #chartValoresPond></canvas></div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>