.header-row {
  background: #3880ff;
  color: #fff;
  font-size: 18px;
}

ion-col {
  border: 1px solid #eceeef;
}

.chartjs-container {
  position: relative;
  margin: auto;
  min-height: 300px;
}

.chart_wrap {
  position: relative;
  padding-bottom: 100%;
  height: 0;
  overflow: hidden;
}

.center-column {
  text-align: center;
}

.align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.justify {
  text-align: justify;
}

.no-border {
  border: none;
}

.relative {
  position: relative;
}