<app-header title="Detalle de la empresa"></app-header>

<ion-content *ngIf="empresa">
  <ion-card>
    <ion-card-header>
      <ion-card-title><strong>Nombre: </strong>{{empresa.nombre}}</ion-card-title>
    </ion-card-header>

    <ion-item class="ion-activated">
      <ion-icon name="document-outline" slot="start"></ion-icon>
      <ion-label><strong>Descripción de la empresa: </strong>{{empresa.descripcion}}</ion-label>
    </ion-item>

    <ion-item class="ion-activated">
      <ion-icon name="key-outline" slot="start"></ion-icon>
      <ion-label><strong>Nit: </strong>{{empresa.nit}}</ion-label>
    </ion-item>

    <ion-item class="ion-activated">
      <ion-icon name="location-outline" slot="start"></ion-icon>
      <ion-label><strong>Direccion: </strong>{{empresa.direccion}}</ion-label>
    </ion-item>

    <ion-item class="ion-activated">
      <ion-icon name="call-outline" slot="start"></ion-icon>
      <ion-label><strong>Número de contacto: </strong>{{empresa.contacto}}</ion-label>
    </ion-item>
  </ion-card>

  <div class="ion-text-center ion-margin-bottom ion-margin-top">
    <h3>Histórico de evaluaciones</h3>
  </div>

  <ion-card *ngIf="evaluaciones.length > 1">
    <ion-card-content>
      <canvas #evalHistoricoChart style="position: relative; height: 20vh; width: 40vw"></canvas>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row no-padding class="header-row">
      <ion-col col col-1 class="center-column" size="3">
        <strong>Fecha de la evaluación</strong>
      </ion-col>
      <ion-col col col-2 class="center-column" size="2">
        <strong>Resultado</strong>
      </ion-col>
      <ion-col col col-3 class="center-column" size="4">
        <strong>Grado de cumplimiento</strong>
      </ion-col>
      <ion-col col col-4 class="center-column" size="3">
        <strong>Acciones</strong>
      </ion-col>
    </ion-row>

    <ion-row no-padding *ngFor="let e of evaluaciones" align-items-center>
      <ion-col col col-1 class="align" size="3">
        {{e.fechaEvaluacion}}
      </ion-col>
      <ion-col col col-2 class="align" size="2">
        {{e.resultadoEvaluacion}}% de 100%
      </ion-col>
      <ion-col col col-3 class="align" size="4">
        {{e.gradoCumplimiento}}
      </ion-col>
      <ion-col col col-4 class="align" size="3">
        <ion-button title="Ver detalle" size="small" color="primary" (click)="verDetalle(e.id)">
          <ion-icon name="bar-chart-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button title="Descargar archivo" size="small" color="primary" (click)="download(e.id)">
          <ion-icon name="download-outline" slot="icon-only"></ion-icon>
        </ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="!evaluaciones">No se han registrado evaluaciones.</div>
</ion-content>