<app-header title="User"></app-header>

<ion-content>
    <div class="ion-text-center ion-margin-bottom ion-margin-top">
        <h3>Desliza para ver las opciones</h3>
    </div>
    <ion-card *ngFor="let empresa empresas">
        <ion-item-sliding >
            <ion-item-options side="start">
              <ion-item-option routerLink="/detalle/{{empresa.id}}">
                  <ion-icon name="eye" slot="icon-only"></ion-icon>
              </ion-item-option>
              
            </ion-item-options>
        
            <ion-item class="ion-text-center">
              <ion-label>{{empresa.nombre}}</ion-label>
            </ion-item>
            </ion-item-sliding>
    </ion-card>

</ion-content>
