<app-header title="Empresas"></app-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title> Subir evaluación desde archivo plano </ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-text-justify">
      <ion-label
        >El sistema permite subir la información de una evaluación diligenciada
        siguiendo el formato de la plantilla de excel entregada por el
        consultor. Por favor revisar el NIT de la empresa antes de subir la
        evaluación.</ion-label
      >
    </ion-card-content>

    <ion-item>
      <input
        #uploadFile
        type="file"
        (change)="onFileChange($event)"
        accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
      />
    </ion-item>
    <ion-item>
      <ion-button
        color="primary"
        disabled="{{uploadDisabled}}"
        (click)="upload()"
      >
        <ion-icon name="add-outline"></ion-icon>
        <span class="text"> Subir nueva evaluación</span>
      </ion-button>

      <ion-button
        color="primary"
        disabled="{{uploadDisabled}}"
        (click)="reset()"
      >
        <ion-icon name="trash-outline"></ion-icon>
        <span class="text"> Limpiar</span>
      </ion-button>
    </ion-item>
  </ion-card>

  <div class="ion-text-center ion-margin-bottom ion-margin-top">
    <h3>Empresas registradas en el sistema</h3>
  </div>

  <ion-grid>
    <ion-row no-padding class="header-row">
      <ion-col col col-1 class="center-column" size="2">
        <strong>Nit</strong>
      </ion-col>
      <ion-col col col-2 class="center-column" size="2">
        <strong>Nombre</strong>
      </ion-col>
      <ion-col col col-3 class="center-column" size="4">
        <strong>Dirección</strong>
      </ion-col>
      <ion-col col col-4 class="center-column" size="2">
        <strong>Contacto</strong>
      </ion-col>
      <ion-col col col-5 class="center-column" size="2">
        <strong>Acciones</strong>
      </ion-col>
    </ion-row>

    <ion-row no-padding *ngFor="let e of empresas">
      <ion-col col col-1 class="align" size="2"> {{e.nit}} </ion-col>
      <ion-col col col-1 class="align" size="2"> {{e.nombre}} </ion-col>
      <ion-col col col-2 class="align" size="4"> {{e.direccion}} </ion-col>
      <ion-col col col-2 class="align" size="2"> {{e.contacto}} </ion-col>
      <ion-col col col-4 class="center-column" size="2">
        <ion-button title="Ver detalle" size="small" color="primary" (click)="verDetalle(e.id)">
          <ion-icon name="eye" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
