<ion-menu side="start" menuId="first" contentId="main" swipeGesture="false">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
            <ion-item routerLink="/">
              <ion-icon name="home" slot="start"></ion-icon>
              <ion-label> Inicio</ion-label>
            </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle *ngIf="isLogged && isAdmin">
            <ion-item routerLink="/admin">
              <ion-icon name="list-circle" slot="start"></ion-icon>
              <ion-label> Lista de empresas</ion-label>
            </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle *ngIf="isLogged && !isAdmin">
            <ion-item routerLink="/user">
              <ion-icon name="list-circle" slot="start"></ion-icon>
              <ion-label> Lista de empresas</ion-label>
            </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle *ngIf="isLogged && isAdmin">
            <ion-item routerLink="/nuevo">
              <ion-icon name="add-circle" slot="start"></ion-icon>
              <ion-label> Nuevoa Empresa</ion-label>
            </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle *ngIf="!isLogged">
            <ion-item routerLink="/login">
              <ion-icon name="log-in" slot="start"></ion-icon>
              <ion-label> Iniciar Sesión</ion-label>
            </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle *ngIf="!isLogged">
            <ion-item routerLink="/registro">
              <ion-icon name="person-add" slot="start"></ion-icon>
              <ion-label> Crear Cuenta</ion-label>
            </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle *ngIf="isLogged">
            <ion-item (click)="logOut()">
              <ion-icon name="log-out" slot="start"></ion-icon>
              <ion-label> Cerrar Sesión</ion-label>
            </ion-item>
        </ion-menu-toggle>
        
      </ion-list>
    </ion-content>
  </ion-menu>
