.header-row {
  background: #3880ff;
  color: #fff;
  font-size: 18px;
}

ion-col {
  border: 1px solid #eceeef;
}

.align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.justify {
  text-align: justify;
}
