<app-header title="Detalle"></app-header>
<ion-content>
  <div class="ion-text-center ion-margin-bottom ion-margin-top">
    <h3 class="ion-text-center">Detalle de preguntas</h3>
  </div>

  <ion-grid>
    <ion-row no-padding class="header-row">
      <ion-col col class="align" col-1 size="1">
        <strong>Código</strong>
      </ion-col>
      <ion-col col class="align" col-2 size="5">
        <strong>Pregunta</strong>
      </ion-col>
      <ion-col col col-3 class="align" size="1">
        <strong>Si</strong>
      </ion-col>
      <ion-col col col-4 class="align" size="1">
        <strong>No</strong>
      </ion-col>
      <ion-col col col-5 class="align" size="4">
        <strong>Observaciones</strong>
      </ion-col>
    </ion-row>

    <ion-row no-padding *ngFor="let p of resPreguntas">
      <ion-col col col-1 class="align" size="1"> {{p.codigoPregunta}} </ion-col>
      <ion-col col col-2 class="justify" size="5"> {{p.pregunta}} </ion-col>
      <ion-col col col-3 class="align" size="1"> {{p.respuestaSi}} </ion-col>
      <ion-col col col-4 class="align" size="1"> {{p.respuestaNo}} </ion-col>
      <ion-col col col-5 class="justify" size="4"> {{p.observaciones}} </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
